@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

.body{

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page{
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0ch;
}

.hotels-card-button{
background-color: #82B3D3;
}


.newsletter-button{
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

.page-header {
  color: #000000;
  background-color:#FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.advantages-list {
  text-align: center;
}

.advantages {
  color: #000000;
  text-align: center;
  background-color: #ffffff;

}
.advantages-title {
  font-family: "PT Sans ", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotels{
  text-align: center;
}

.search-title{
  font-size: 30px;
  font-style: Bold;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mailing{
font-size: 30px;
font-weight: 700;
color: #ffffff;

text-align: center;

}

.mailing-foon{
  background-color: #ffffff;
  background-image: url("../images/background-mailing-list.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;

}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 4px;
  text-decoration: none;
  color: #000000;

}

.inner-header{
  color: #ffffff;
  background-color: #af1f1f;
  background-image: url("../images/background-catalog.jpg");

  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.breadcrumbs {
  color:#ffffff;
  text-decoration: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #82B3D3;
}
