@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  width: 1280px;
  margin: 0 auto;
}

.main-conteiner {
  flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.logo{
  display: block;
  margin: 0 auto;
}
.page {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: none none 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  Padding: 8px 50px;
}

li {
  list-style-type: none;
}

.hotels-card-button {
  background-color: #82B3D3;
}

.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

.hotels-list {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.hotels-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filters-result {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filters-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  padding: 0;
}

.advantages {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.advantages-item{
  width: 400px;
  height: 384px;
}
.advantages-images{
  width: 800px;
}
.advantages-title {
  font-family: "PT Sans ", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


.search{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 406px;
  text-align: center;
  margin: 0 auto;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mailing {
  height: 415px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/background-mailing-list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mailing-catalog {
  height: 415px;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.filter-catalog {
  color: #000000;
}

.filter-content {
  color: #ffffff;
  background-color: #af1f1f;
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-content-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.breadcrumbs {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-disabled {
  background-color: #82B3D3;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer{
  display: flex;
  justify-content: space-between;
}
