@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

/* PT Sans Narrow */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-display: swap;
}

.page-header {
  color: #000000;
  background-color:#FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-list {
  text-align: center;
}

.advantages {
  color: #000000;
  text-align: center;
  background-image: url("../images/background.jpg");

}
.advantages-title {
  font-family: "PT Sans ", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.inex-columns {
  color: #e90f0f;
  background-color: #fbf7f4;
  background-image: url("../images/background.jpg");
}


.button {
  width: 376;
  height: 52;
  font-family: PT Sans;
  font-style: Bold;
  font-size: 20px;
  line-height: 36px;
  font-weight: 139%;
  text-align: center;
  color: #ffffff;
  Vertical-align: Center;
  border-radius: 4px;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  Padding: 8px, 50px, 8px, 50px;

}

.search-title{
  font-size: 30px;
  font-style: Bold;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

}
.mailing{
  width: 1200;
  height: 414b;
  font-size: 30px;
  font-style: Bold;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("../images/background-mailing-list.jpg");
  background-repeat: no-repeat;
  line-height: 93%;
  vertical-align: top;

}
