@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-conteiner {
  flex-grow: 1;
}

.logo {
  display: block;
  margin: 0 auto;
}

.page {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo-navigation {
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  width: 340px;
  padding: 20px 16px;
  gap: 0px 32px;
  margin: 0 0 0 28px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  width: 480px;
  margin: 14px 70px 14px 0;
  padding: 4px 34px;
  list-style-type: none;
}

.button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-catalog-filter {
  background-color: #82B3D3;
  min-width: 191px;
  min-height: 36px;
  margin-bottom: 16px;
}

.button-search {
  padding: 8px 50px;
}

.button-navigation-user {
  padding: 8px 34px;
}

.button-catalog-filter-reset {
  background-color: transparent;
  border: none;
  min-width: 191px;
  min-height: 36px;
  margin-top: 16px;

}

.hotels-detailed-button {
  padding: 4px 13px;
}

.hotels-card-button {
  padding: 4px 10px;
}

.hotels-card-button {
  background-color: #82B3D3;
}

.newsletter-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
}

.catalog-filter {
  display: flex;
  align-items: center;
  margin-left: 70px;
  padding-bottom: 70px;

}

.catalog-filter-list {
  padding: 0px;
}

.catalog-filter-item {
  padding: 8px;
  list-style-type: none;

}

.button-catalog {
  list-style-type: none;
}

.catalog-filter-group {
  border: 0 none;
  padding-right: 35px;
  padding-left: 0px;

}

.hotels-card {
  width: 340px;
}

.hotels-card-list {
  font-size: 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 140px 140px;
  width: 300px;
  padding: 5px;
  list-style-type: none;

}

.hotels-card-list > li {
  margin: 16px 0px;
}

.hotels-card-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #E6E6E6;

}

.hotels-list-section {
  width: 1080px;
  margin: 0 auto;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 0px;
  gap: 20px;
  list-style-type: none;

}

.hotels-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}


.hotels-type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
}

.filters-result {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 70px;

}

.filters-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.select-control {
  margin: 24.9px;
  width: 294px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: center;
  padding: 0;
}

.advantages {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
}

.advantages-item {
  display: flex;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.advantages-images {
  width: 800px;
}

.advantages-item-card {
  width: 230px;
}

.advantages-line {
  width: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 0px 85px 30px 85px;
}

.advantages-title {
  font-family: "PT Sans ", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.advantages-description {
  margin: 0px;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(1) {
  background-color: #82B3D3;
  color: #ffffff;

}

.advantages-item:nth-child(7) {
  background-color: #82B3D3;
  color: #ffffff;
}

.search {
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 96px;
  width: 592px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels {
  margin-top: 20px;
  margin-bottom: 54px;

}

.subscribe {
  font-family: PT Sans, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  height: 415px;
  background-color: #ffffff;
  align-items: center;
  justify-items: center;
}

.subscribe-index {
  color: #ffffff;
  background-image: url("../images/background-mailing-list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.subscribe-box {
  font-family: PT Sans, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-top: 70px;


  width: 684px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  padding-bottom: 104px;
}

.field {
  min-width: 523px;
  min-height: 52px;
}

.filter-catalog {
  width: 1200px;
  color: #000000;
}

.filter-content {
  color: #ffffff;
  background-color: #a09c9c;
  background-image: url("../images/background-catalog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-content-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  padding-top: 35px;
  padding-left: 70px;
  margin: 0;
}

.breadcrumbs {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-line {
  width: 1060px;
  border: 1px solid #E6E6E6;
  text-align: center;
  margin: 40px 0px 40px 12px;
}


.pagination {
  display: flex;
  justify-content: flex-start;
  width: 1060px;
  background-color: #ffffff;
  padding-left: 10px;
}


.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  margin-right: 8px;
  text-align: center;

}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer {
  display: flex;
  width: 1200px;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 142px;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
}

.footer-contacts {
  display: flex;
  width: 720px;
  margin-left: 253px;
  padding: 45px;
}

.footer-logo-html {
  max-width: 115px;
  margin-right: 70px;
}

.logo {
  padding-top: 51.5px;
  padding-bottom: 83px;
}

.advantages-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 69px;
}
